[submodule "deps/asmjit"]
	path = deps/asmjit
	url = git@github.com:asmjit/asmjit.git
[submodule "deps/json"]
	path = deps/json
	url = git@github.com:nlohmann/json.git
[submodule "deps/argagg"]
	path = deps/argagg
	url = https://github.com/vietjtnguyen/argagg
